#footer{
	.newsletter-wrap{
		background: $blue-primary;
	}
}
.footer-block.share{
	background: $black-primary;
}

.newsletter-description-wrap{
	p{font-family: 'futura-pt';}
}
.nm_mc_form{
	input{font-family: 'futura-pt';}
}