.home-hero-container{
	background-color: $blue-primary;
	background: url(../img/ep-front.jpg);
	background-size: contain !important;
	max-width: 100% !important;
	height: 80vh;
	margin-top: 80px !important;
	width: 100%;

	div{
		height: 100%;
		width: 100%;
	}
	.wpb_raw_code .wpb_wrapper{
		display: table;
	}
	.home-hero{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		text-align: center;
		article{
			display: block;			
			margin-bottom: 10px;
		}
		h1,h2{
			padding: 40px;
			background: rgba(0,0,255,0.9);
			display: inline-block;
			text-align: center;
			border-radius: 2px;
			margin: 0;
			color: #fff;
			font-family: 'futura-pt';
		}
		h2{
			padding: 20px 80px 40px 80px;
		}
		a{
			margin-top: -36px;
			display: block;
			font-family: 'futura-pt';
			i{
				font-size: 22px;
				margin-right: 10px;
				position: relative;
				top: -1px;
			}
		}
	}
}