$blue-primary: #3c61d6;


h3.widgettitle{
	font-family: 'futura-pt-condensed';
    font-weight: 900;
    font-size: 80px;
    margin: 30px 0;
}

span.heading-t3, span.heading-b3{
	width: 100px;
}

// typography override
h1{
	font-family: 'futura-pt-condensed';
	font-weight: 900;
    font-size: 48px;
}

// body conent{
#pusher{
	//position: relative;
	padding-top: 80px;
}

// music section
.video-home-page{
	max-width: 100% !important;
	background: #222;
	padding: 80px 40px 120px 40px !important;
	h3.widgettitle{
		color: #fff;
	}
	span.heading-t3, span.heading-b3{
		background: #fff;
	}
	.wpb_video_wrapper{
		margin-top: 60px;
	}
}

.blog-section{
	max-width: 100% !important;
	background: $blue-primary;
	padding: 0px 40px 120px 40px !important;
	color: rgba(0,0,0,0.6);
	h3.widgettitle{
		color: rgba(0,0,0,0.6);
	}
	span.heading-t3, span.heading-b3{
		color: rgba(0,0,0,0.6);
	}
}

@import 'menu';
@import 'header';
@import 'slider';
@import 'events';
@import 'footer';
@import 'footer-email';